#map {
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-md-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.col-md-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
} 

.col-md-4,.col-md-8{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

#loadingImg {
    text-align: center;
}

#film_list {
    height: 450px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid #f1f1f1;
}

#film_list .focus {
    background: #ececec;
}

.filmItem {
    border-bottom: 1px solid #f1f1f1;
    padding-bottom: 20px;
    cursor: pointer;
}

.filmItem .actor,
.filmItem .writer
.filmItem .release_year{
    display: none;
}

#searchWrap {
    position: absolute;
    top: -60px;
    right: 0px;
}

#frm-search-film {
    float: right;
}

#edit-cmdsearch {
    display: none;
}

#frm-search-film .form-item-keyword,
#frm-search-film label, #frm-search-film input {
    display: inline-block;
}

.filmItemSelected {
    background: #ececec;
}

.filmItemSelected .actor,
.filmItemSelected .writer,
.filmItemSelected .release_year{
    display: block;
}

.film_avatar {
    background: #ffe8a1;
    padding: 10px;
    margin: 30px 10px;
    height: 100px;     
    text-align: center;
}

.path-film .layout-container {
    max-width: 100% !important;
}

.path-film .main-content {
    margin-left: 0px !important;
    width: 100% !important;
}
.not_found {
    padding: 20px;
    color: red;
}